
<CDBSidebar textColor="#ffffff" backgroundColor="#333333">
    <!-- <CDBSidebarHeader [prefix]="icon" >
        <ng-template #icon>
            <i class="fa fa-bars fa-large"></i>
        </ng-template>

        Contrast
    </CDBSidebarHeader> -->

    <CDBSidebarContent>
        <CDBSidebarMenu class="sidebar-content">
            <CDBSidebarMenuItem link='/' icon="columns" >
                Home
            </CDBSidebarMenuItem>
            <CDBSidebarMenuItem link='/tables' icon="table" >
                About
            </CDBSidebarMenuItem>
            <CDBSidebarMenuItem link='/profile' icon="user" >
                Contact
            </CDBSidebarMenuItem>
            <CDBSidebarMenuItem href='/404' icon="exclamation-circle" >
                <span style="margin-left: 5px;">404 Page</span>
            </CDBSidebarMenuItem>
        </CDBSidebarMenu>
    </CDBSidebarContent>
</CDBSidebar>